.env
*.py[cod]
__pycache__/
.pytest_cache/
.mypy_cache/

bars-inventory-docker.zip
*.xlsx

pgdata/
exports/*
!exports/.gitkeep
imports/*
!imports/.gitkeep

nginx/certs/*
!nginx/certs/.gitkeep
certs/ad/*
!certs/ad/.gitkeep

printers/printers.csv
*.log
